<div class="container">
	<%= render "header" %>
	
	<div class="row">
		<div class="col-md-4">	
			<div class="box_bar">
		      Add new task
		    </div>
		    <div class="form_wrap">
			<%=form_tag(controller:'welcome',action:'createTask',method:'post') do %>	
				<div class="form-group">
					<%=label_tag(:task_title,"Task Title") %><br/>
					<%=text_field_tag(:task_title,"",class: 'form-control') %>
					<div class="error">
						<% if @errors.include?(:task_title) %>
							<%=@errors[:task_title][0] %>
						<% end %>	
					</div>
				</div>
				
				<div class="form-group">
					<%=label_tag(:task_description ,"Task Description") %><br/>
					<%=text_area_tag(:task_description,"",rows: "5",class: 'form-control') %>
					<div class="error">
						<% if @errors.include?(:task_description) %>
							<%=@errors[:task_description][0] %>
						<% end %>
					</div>
				</div>
				<div class="form-group">
					<%=submit_tag("Add task",class: "btn btn-secondary") %>
				</div>
				
			<% end %>
			</div>
		</div>
		<div class="col-md-8">
			<%= render "tasks" %>
		</div>
	</div>



</div>
