<div class="container">

	<%= render "header" %>
		
	<%=form_tag(controller:'welcome',action:'createTask',method:'post') do %>	
	<div class="row">
		<div class="col-lg-4">
			<%=label_tag(:task_title,"Task Title") %><br/>
			<%=text_field_tag(:task_title) %><br/>
			<div class="error">
				<% if @errors.include?(:task_title) %>
					<%=@errors[:task_title][0] %>
				<% end %>	
			</div>
		</div>
		<div class="col-lg-4">
			<%=label_tag(:task_description ,"Task Description") %><br/>
			<%=text_area_tag(:task_description,"",rows: "5") %>
			<div class="error">
				<% if @errors.include?(:task_description) %>
					<%=@errors[:task_description][0] %>
				<% end %>
			</div>
		</div>
		<div class="col-lg-4">
			<%=submit_tag("Add task") %>
		</div>
	</div>
	<% end %>
</div>
